<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @owner.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @owner.gender %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
